<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/FitnessApp.styles.css" asp-append-version="true" /> *@
    <script src="https://kit.fontawesome.com/34696fbef1.js" crossorigin="anonymous"></script>
    
</head>

 <nav>
        <ul class="navlist">
            <li>
        <a asp-page="/index">
            <div class="iconContainer">
                <i class="fa-solid fa-dumbbell"></i>
                <p class="iconTitle">Workout</p>
            </div>
        </a>
    </li>
            <li>
        <a asp-page="/week">
            <div class="iconContainer">
                <i class="fa-solid fa-calendar"></i>
                <p class="iconTitle">Week</p>
            </div>
        </a>
    </li>
    <li>
        <a asp-page="/trends">
            <div class="iconContainer">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <p class="iconTitle">Trends</p>
            </div>
        </a>
    </li>
            
        </ul>


    </nav>

<body>
        
    <div class="container1">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>