:root {
    --offwhite: #f5f5f5;
    --reddish: #e26972;
    --darkgrey: #343a40;
    --lightergrey: #6c757d;
    --lightgrey: #d6dce2;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: var(--offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekContainer {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
}


.weekday {
    width: 900px;
    height: 90px;
    /* background-color: var(--darkgrey); */
    border: 1px solid var(--reddish);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    align-items: center;

}

.weekday:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.weekday:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.weekday::-webkit-scrollbar {
    display: none; 
}

.workoutDiv {
    width: 200px;
    height: 70px;
    background-color: var(--lightgrey);
    border-radius: 5px;
    color: var(--darkgrey);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--reddish);
    margin-right: 15px;
}

.titleArea {
    /* background-color: var(--reddish); */
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--offwhite);
    
    border-right: 1px solid var(--reddish);
    color: var(--reddish);
    margin-right: 30px;
}

.weekTitle {
    font-weight: bold;
}


/* .moreInfo {
    background-color: antiquewhite;
    width: 100%;
    min-height: 50px;
} */

.workoutTitle {
    font-size: 25px;
}

.exerciseCount {
    font-size: 15px;
}

.workoutTitle, .exerciseCount {
    margin-top: 5px;
    margin-left: 10px;
    color: var(--lightergrey)
}

.exerciseCount {
    margin-top: 0px;
}

.expandButton {
    padding: 1px;
    display: block;
    border: none;
    margin: 0 auto;
    width: 40%;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 10px;
    border-radius: 3px;
    background-color: var(--reddish);
    color: var(--offwhite);
    font-weight: bold;
}

/* .linebreak {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--reddish);
} */

.exerciseContainer {
    width: 400px;
    height: 100vh;
    background-color: var(--offwhite);
    border: 1px solid var(--reddish);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -400px; 
    top: 0;
    z-index: 1000;
    overflow-y: scroll;
    transition: right 1s ease;
}

.exerciseContainer.opened {
    right: 0;
}

.exerciseContainer.closed {
    right: -400px;
}

.blurredBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(3px);
}

.exerciseDiv {
    background-color: var(--reddish);
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.exerciseName {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.setContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 223, 223);
    margin-bottom: 3px;
    padding: 3px;
    border-radius: 3px;

}

.setVals {
    background-color: rgba(229, 105, 112, 0.7);
    color: white;
    border-radius: 3px;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    
}