:root {
    --offwhite: #f5f5f5;
    --reddish: #e26972;
    --darkgrey: #343a40;
    --lightergrey: #6c757d;
    --lightgrey: #ced4da;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--offwhite);
    color: white;
    display: flex;
    padding-left: 70px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}


.weekday {
    width: 300px;
    height: 500px;
    background-color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: scroll;
    
}

.weekday::-webkit-scrollbar {
    display: none; 
}

.workoutDiv {
    width: 90%;
    min-height: 100px;
    background-color: var(--lightgrey);
    margin: 0px auto;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--darkgrey);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    
}

.titleArea {
    background-color: var(--reddish);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--offwhite);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
}

.weekTitle {
    font-weight: bold;
}


/* .moreInfo {
    background-color: antiquewhite;
    width: 100%;
    min-height: 50px;
} */

.workoutTitle, .exerciseCount {
    margin-top: 5px;
    margin-left: 10px;
}

.exerciseCount {
    margin-top: 0px;
}

.expandButton {
    padding: 2px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    width: 40%;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    border-radius: 3px;
    background-color: var(--reddish);
    color: var(--offwhite);
    font-weight: bold;
    margin-bottom: 20px;
}

/* .linebreak {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--reddish);
} */

.exerciseDiv {
    background-color: var(--offwhite);
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.exerciseName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.setContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 223, 223);
    margin-bottom: 3px;
    padding: 3px;
    border-radius: 3px;

}

.setVals {
    background-color: rgba(229, 105, 112, 0.7);
    color: white;
    border-radius: 3px;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    
}