:root {
    --offwhite: #f5f5f5;
    --lightpurple: #9f5f91;
    --purple: #572c57;
    --reddish: #e26972;
    --yellow: #f6ea98;

    --offwhite: #f5f5f5;
    --reddish: #e26972;
    --darkgrey: #343a40;
    --lightergrey: #6c757d;
    --lightgrey: #ced4da;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite);
    flex-direction: column;
    min-height: 100vh;
}

#createWorkout {
    padding: 5px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    border-radius: 3px;
    background-color: var(--reddish);
    color: var(--offwhite);
    font-weight: bold;
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--darkgrey);
    border-radius: 10px;
    margin-top: -300px;
}

.workoutName {
    margin-top: -10px;
    margin-bottom: 25px;
    color: white;
}

.workoutName input,
.exerciseName input {
    border: none;
    background: none;
    width: 100%;
    font-size: 25px;
    color: var(--offwhite);

}

.workoutName input {
    font-size: 32px;
    border-bottom: 2px solid var(--offwhite);
    background-color: #343a40;
    outline: none;
}

.exerciseName input {
    width: 94%;
    font-size: 18px;
    border-bottom: 2px solid var(--offwhite);
}

.workoutName input::placeholder,
.exerciseName input::placeholder {
    color: var(--offwhite);
}


.exercise {
    margin-bottom: 10px;
    /* background-color: var(--yellow); */
    color: white;

}


.setGroup {
    display: flex;
    background-color: var(--offwhite);
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    color: var(--reddish);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);

}

.setGroup input {
    width: 40px;
    border: none;
    outline: none;
    color: var(--reddish);
    background-color: var(--lightgrey);
    border: none;
    border-radius: 5px;
    padding: 3px;

    
}

.set {

    width: 100%;

}

.setItem {
    display: flex;
    margin-right: 10px;
    padding-left: 10px;
}

.setItem p {
    margin-left: 2px;
    margin-top: 1.5px;
    
}


.container .exerciseSchedule {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.scheduleTitle {
    font-size: 25px;
}

.schedule label,
.schedule #selectedOptions {
    display: inline-block;
}



.weekday {
    margin-bottom: 20px;
    font-size: 20px;
}

.weekday label i {
    font-size: 25px;
    margin-right: 20px;
}

.add_button,
.submit {
    display: flex;
    justify-content: center;
}

.rest {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--lightergrey);
}

.rest input {
    margin-left: auto;
    width: 50px;
    margin-right: 20px;
    outline: none;
    border: none;
    /* border-bottom: 1px solid black; */
}


.deleteExercise {
    display: block; 
    margin: 0 auto;
}


.deleteSet {
    color: var(--reddish);
    background: none;
    border: none;
    font-size: 18px;
    border-radius: 50%;
}


.workoutView {
    width: 800px;
    height: auto;
    margin-top: -200px;
    background-color: var(--reddish);
}

.workoutViewDiv {
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
    color: black;
}

#workoutForm,
#createWorkout {
    display: block;
    margin-bottom: 10px;
    /* Adjust as needed */
}


.test {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: var(--reddish);
    border-radius: 3px;

}

.addSet {
    padding: 2px;
    border: none;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    border-radius: 3px;
    background-color: var(--offwhite);
    color: var(--reddish);
    font-weight: bold;
    margin-bottom: 4px;
}