:root {
    --offwhite: #f5f5f5;
    --lightpurple: #9f5f91;
    --purple: #572c57;
    --reddish: #e26972;
    --yellow: #f6ea98;

    --offwhite: #f5f5f5;
    --reddish: #e26972;
    --darkgrey: #343a40;
    --lightergrey: #6c757d;
    --lightgrey: #ced4da;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite);
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;

}




#createWorkout {
    padding: 5px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    border-radius: 3px;
    background-color: var(--reddish);
    color: var(--offwhite);
    font-weight: bold;
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border: 2px solid var(--reddish);
    background-color: var(--offwhite);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.workoutName {
    margin-top: -10px;
    margin-bottom: 25px;
    color: var(--reddish);
}

.workoutName input,
.exerciseName input {
    border: none;
    background: none;
    width: 100%;
    font-size: 25px;
    color: var(--offwhite);

}

.workoutName input {
    font-size: 32px;
    border-bottom: 2px solid var(--reddish);
    outline: none;
}

.exerciseName input {
    width: 94%;
    font-size: 18px;
    border-bottom: 2px solid var(--offwhite);
}


.exercise input::placeholder {
    color: var(--offwhite)
}

.workoutName input::placeholder {
    color: var(--reddish);
}


.exercise {
    margin-bottom: 10px;
    /* background-color: var(--yellow); */
    color: white;

}


.setGroup {
    display: flex;
    background-color: var(--offwhite);
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    color: var(--reddish);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);

}

.setGroup input {
    width: 40px;
    border: none;
    outline: none;
    color: var(--reddish);
    background-color: var(--lightgrey);
    border: none;
    border-radius: 5px;
    padding: 3px;

    
}

.set {

    width: 100%;

}

.setItem {
    display: flex;
    margin-right: 10px;
    padding-left: 10px;
}

.setItem p {
    margin-left: 2px;
    margin-top: 1.5px;
    
}


.container .exerciseSchedule {
    position: absolute;
    width: 350px;
    min-height: 300px;
    background-color: var(--offwhite);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--reddish);
    z-index: 3;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
    color: var(--reddish)
}



.scheduleTitle {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.schedule {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 35px;
    background-color: var(--lightergrey);
    padding: 5px;
    border-radius: 5px;
    
    
}

.schedule #showSchedule,
.schedule #selectedOptions {
    display: inline-block;

}

#selectedOptions {
    padding: 5px;
    color: var(--offwhite);
    height: 25px;
    font-weight: bold;
}



.weekday {
    margin-bottom: 20px;
    font-size: 20px;
}

.weekday label {
    display: flex; 
    align-items: center; 
}

.weekday label i {
    font-size: 25px;
    margin-right: 5px;
    
}

.scheduleBreak {
    width: 95%;
    height: 1px;
    background-color: var(--reddish);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    opacity: 0.4;
}


.add_button,
.submit {
    display: flex;
    justify-content: center;
}

.rest {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--lightergrey);
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}

.rest input {
    margin-left: auto;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    outline: none;
    border: none;
    background-color: var(--offwhite);
    color: var(--reddish);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.deleteExercise {
    display: block; 
    margin: 0 auto;
    margin-top: 10px;
}


.deleteSet {
    color: var(--reddish);
    background: none;
    border: none;
    font-size: 18px;
    border-radius: 50%;
}


.workoutViewPage {
    position: sticky;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: rgba(52, 58, 64, 0.8);
    backdrop-filter: blur(10px);
}

.workoutView {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.workoutViewDiv {
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
    color: black;
    background-color: var(--reddish);
}

#workoutForm,
#createWorkout {
    display: block;
    margin-bottom: 10px;
}


.exerciseGroup {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: var(--reddish);
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;

}

.addSet, #add-exercise, #closeSchedule, #showSchedule, #save, .deleteExercise{
    padding: 4px;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    background-color: var(--offwhite);
    color: var(--reddish);
    font-weight: bold;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
}

.addSet {
    font-size: 10px;
    padding: 2px;
    margin-bottom: 5px;
}

#showSchedule{
    height: 25px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#add-exercise {
    margin-bottom: 10px;
    font-size: 13px;
}



#save {
    margin-top: 20px;
    font-size: 20px;
}


#add-exercise, #closeSchedule, #showSchedule, #save{
    background-color: var(--reddish);
    color: var(--offwhite);
}

#closeSchedule {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.blurredBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(10px);
}






