:root {
    --offwhite: #f5f5f5;
    --lightpurple: #9f5f91;
    --purple: #572c57;
    --reddish: #e26972;
    --yellow: #f6ea98;

    --offwhite: #f5f5f5;
    --reddish: #e26972;
    --darkgrey: #343a40;
    --lightergrey: #6c757d;
    --lightgrey: #ced4da;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite);
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    /* position: sticky; */
    top: 0;
    padding-top: 50px;
}




#createWorkout {
    padding: 5px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    border-radius: 3px;
    background-color: var(--reddish);
    color: var(--offwhite);
    font-weight: bold;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    
}

form {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border: 2px solid var(--reddish);
    background-color: var(--offwhite);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.workoutName {
    margin-top: -10px;
    margin-bottom: 25px;
    color: var(--reddish);
}

.workoutName input,
.exerciseName input {
    border: none;
    background: none;
    width: 100%;
    font-size: 25px;

}

.exerciseName input {
    color: var(--offwhite);
}

.workoutName input {
    color: var(--reddish);
}

.workoutName input {
    font-size: 32px;
    border-bottom: 2px solid var(--reddish);
    outline: none;
}

.exerciseName input {
    width: 94%;
    font-size: 18px;
    border-bottom: 2px solid var(--offwhite);
}


.exercise input::placeholder {
    color: var(--offwhite)
}

.workoutName input::placeholder {
    color: var(--reddish);
}


.exercise {
    margin-bottom: 10px;
    /* background-color: var(--yellow); */
    color: white;

}


.setGroup {
    display: flex;
    background-color: var(--offwhite);
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    color: var(--reddish);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);

}

.setGroup input {
    width: 40px;
    border: none;
    outline: none;
    color: var(--reddish);
    background-color: var(--lightgrey);
    border: none;
    border-radius: 5px;
    padding: 3px;

    
}

.set {

    width: 100%;

}

.setItem {
    display: flex;
    margin-right: 10px;
    padding-left: 10px;
}

.setItem p {
    margin-left: 2px;
    margin-top: 1.5px;
    
}


.container .exerciseSchedule, .exerciseScheduleEdit {
    position: absolute;
    width: 350px;
    min-height: 300px;
    background-color: var(--offwhite);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--reddish);
    z-index: 3;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
    color: var(--reddish)
}

.exerciseScheduleEdit {
    z-index: 500;
}


.scheduleTitle {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.schedule {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 35px;
    background-color: var(--lightergrey);
    padding: 5px;
    border-radius: 5px;
    
    
}

.schedule #showSchedule, #showScheduleEdit
.schedule #selectedOptions {
    display: inline-block;

}

#selectedOptions, #selectedOptionsEdit {
    padding: 5px;
    color: var(--offwhite);
    height: 25px;
    font-weight: bold;
}



.weekday {
    margin-bottom: 20px;
    font-size: 20px;
}

.weekday label {
    display: flex; 
    align-items: center; 
}

.weekday label i {
    font-size: 25px;
    margin-right: 5px;
    
}

.scheduleBreak {
    width: 95%;
    height: 1px;
    background-color: var(--reddish);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    opacity: 0.4;
}


.addButton,
.submit {
    display: flex;
    justify-content: center;
}

.rest {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--lightergrey);
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}

.rest input {
    margin-left: auto;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    outline: none;
    border: none;
    background-color: var(--offwhite);
    color: var(--reddish);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.deleteExercise {
    display: block; 
    margin: 0 auto;
    margin-top: 10px;
}


.deleteSet {
    color: var(--reddish);
    background: none;
    border: none;
    font-size: 18px;
    border-radius: 50%;
}


.workoutViewPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(52, 58, 64, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.2s ease;
    position: absolute;
    top: 0;
    overflow:scroll;

}

.workoutViewPage.opened {
    transform: translatex(0%);

}

.workoutViewPage.closed {
    transform: translateX(100%);
}

.workoutView {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;

}

.collapseDiv {
    margin-top: 15px;
    position: absolute;
   
}

#viewWorkoutsButton, #collapseButton {
    background: none;
    border: none;
    background-color: var(--darkgrey);
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
}

#viewWorkoutsButton {
    font-size: 15px;
    color: var(--offwhite);
    border-radius: 3px;

}

#collapseButton {
    color: var(--reddish);
    background-color: transparent;
    font-size: 45px;
}

#collapseButton:hover {
    color: var(--offwhite);
    padding: 3px;
    border-radius: 50%;
    font-size: 55px;
    margin-top: -2px;
}

.workoutViewDiv {
    width: 100%;
    min-height: 30px;
    margin-bottom: 15px;
    color: black;
    background-color: var(--reddish);
    align-items: center;
    display: grid;
    grid-template-columns: 35% 30% 20% 7.5% 7.5%;
    color: var(--offwhite);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 0.5px rgba(0, 0, 0, 0.5);
}

.workoutViewDiv h1 {
   font-size: 30px;
   margin-left: 20px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   max-width: 100%; 
}

.exerciseCount {
    font-size: 20px;
    text-align: center;
}

.boldExercise {
    font-weight: bold;
    font-size: 22px;
}

.scheduledDays {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(206, 212, 218, 0.3);
    color: var(--offwhite);
    border-radius: 4px;
    padding: 3px;
    height: 29px;

}

.deleteWorkout, .editWorkoutButton {
    background: none;
    border: none;
    font-size: 23px;
    color: var(--offwhite)
}


#workoutForm,
#createWorkout {
    display: block;
    
}


.exerciseGroup {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: var(--reddish);
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;

}

.addSet, .addExerciseStyle, .closeSchedule, #showSchedule, #showScheduleEdit, .saveStyle, .deleteExercise{
    padding: 4px;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    background-color: var(--offwhite);
    color: var(--reddish);
    font-weight: bold;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
}

.addSet {
    font-size: 10px;
    padding: 2px;
    margin-bottom: 5px;
}

#showSchedule, #showScheduleEdit{
    height: 25px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.addExerciseStyle {
    margin-bottom: 10px;
    font-size: 13px;
}



.saveStyle {
    margin-top: 20px;
    font-size: 20px;
}


.addExerciseStyle, .closeSchedule, #showSchedule, #showScheduleEdit .saveStyle{
    background-color: var(--reddish);
    color: var(--offwhite);
}

.closeSchedule {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.blurredBackground, .blurredBackgroundEdit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.editDiv {
    width: 100%;
    height: 100vh;
    z-index: 50;
    background-color: rgba(52, 58, 64, .8);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0; 
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.editWorkout {
    width: 500px;
    min-height: 100px;
    background-color: var(--offwhite);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeEditDiv {
    margin: 0 auto;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}






