@page
@{
    ViewData["Title"] = "Calendar Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/trends.css">
</head>

<div class="container">
    <h1 class="pageTitle">Calendar</h1>
</div>

</html>
