@page
@{
    ViewData["Title"] = "Week Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/week.css">
    <title>Calendar</title>
    <script src="https://kit.fontawesome.com/34696fbef1.js" crossorigin="anonymous"></script>
    <script src="~/js/workout.js"></script>
    <script src="~/js/week.js"></script>
</head>

<body>
    <div class="container">
        <div class="weekday sun top">
            <div class="titleArea">
                <h1 class="weekTitle">Sun</h1>
            </div>
            
        </div>
        <div class="weekday mon">
            <div class="titleArea">
                <h1 class="weekTitle">Mon</h1>
            </div>
        </div>
        <div class="weekday tues">
            <div class="titleArea">
                <h1 class="weekTitle">Tues</h1>
            </div>
        </div>
        <div class="weekday wed">
            <div class="titleArea">
                <h1 class="weekTitle">Wed</h1>
            </div>
        </div>
        <div class="weekday thurs">
            <div class="titleArea">
                <h1 class="weekTitle">Thu</h1>
            </div>
        </div>
        <div class="weekday fri">
            <div class="titleArea">
                <h1 class="weekTitle">Fri</h1>
            </div>
        </div>
        <div class="weekday sat">
            <div class="titleArea">
                <h1 class="weekTitle">Sat</h1>
            </div>
        </div>
    </div>


</body>
</html>
