@page
@{
    ViewData["Title"] = "Week Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/week.css">
    <title>Calendar</title>
    <script src="https://kit.fontawesome.com/34696fbef1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="weekday sun">
            <h1 class="weekTitle">Sunday</h1>
        </div>
        <div class="weekday mon">
            <h1 class="weekTitle">Mon</h1>
        </div>
        <div class="weekday tues">
            <h1 class="weekTitle">Tuesday</h1>
        </div>
        <div class="weekday wed">
            <h1 class="weekTitle">Wednesday</h1>
        </div>
        <div class="weekday thurs">
            <h1 class="weekTitle">Thursday</h1>
        </div>
        <div class="weekday fri">
            <h1 class="weekTitle">Friday</h1>
        </div>
        <div class="weekday sat">
            <h1 class="weekTitle">Saturday</h1>
        </div>
    </div>

</body>
</html>
