@page
@model IndexModel
@{
    ViewData["Title"] = "Workout Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Workout</title>
    <link rel="stylesheet" href="~/css/workout.css">
</head>

<body>
    <div class="container">
        <form id="workout-form" action="/submit-workout" method="post">
            @* <h1>Build Your Workout</h1> *@
            <div id="exercises-container">
                <div class="exercise">
                    <label for="exercises">Exercise Name:</label>
                    <input type="text" id="exercise" name="exercise" required>
                    <button type="button" id="add-set">Add Set</button>
                    <div id="set-container"></div>
                    <div>
                        <label for="rest">Rest Between Sets</label>
                        <input type="number" class="rest" name="rest">
                    </div>
                    <div>
                        <label for="schedule">Exercise Schedule</label>
                        <select id="schedule" name="schedule" multiple style="display: none;">
                            <option value="1">Sunday</option>
                            <option value="2">Monday</option>
                            <option value="3">Tuesday</option>
                            <option value="4">Wednesday</option>
                            <option value="5">Thursday</option>
                            <option value="6">Friday</option>
                            <option value="7">Saturday</option>
                        </select>

                        <button id="showSchedule">Show Schedule Options</button>
                    </div>
                </div>
            </div>
            <button type="button" id="add-exercise">Add Exercise</button>
            <button type="submit">Save Workout</button>
        </form>
    </div>

    <script>
        document.getElementById('add-exercise').addEventListener('click', function () {
            const exercisesContainer = document.getElementById('exercises-container');
            const newExercise = document.createElement('div');
            newExercise.classList.add('exercise');
            newExercise.innerHTML = `
                <label for="exercises">Exercise:</label>
                    <input type="text" id="exercise" name="exercise" required>
                    <div>
                        <label for="sets">Sets:</label>
                        <input type="number" class="sets" name="sets" min="1" value="3">
                    </div>
                    <div>
                        <label for="reps">Reps:</label>
                        <input type="number" class="reps" name="reps" min="1" value="10">
                    </div>
                    <div>
                        <label for="time">Time</label>
                        <input type="number" class="time" name="time">
                    </div>
                    <div>
                        <label for="rest">Rest Between Sets</label>
                        <input type="number" class="rest" name="rest">
                    </div>
                    <div>
                        <label for="schedule">Exercise Schedule</label>
                        <select id="schedule" name="schedule" multiple>
                            <option value="1">Sunday</option>
                            <option value="2">Monday</option>
                            <option value="3">Tuesday</option>
                            <option value="4">Wednesday</option>
                            <option value="5">Thursday</option>
                            <option value="6">Friday</option>
                            <option value="7">Saturday</option>
                        </select>
                    </div>
            `;
            exercisesContainer.appendChild(newExercise);
        });

        let setNum = 1;

        document.getElementById('add-set').addEventListener('click', function () {
            const setContainer = document.getElementById('set-container');
            const newSet = document.createElement('div');
            newSet.classList.add('set');
            newSet.innerHTML = `
                 <div class="setGroup">
                 <div class="set">
                        <label for="set">Set ${setNum}:</label>
                        @* <input type="number" class="sets" name="sets" min="1"> *@
                    </div>
                    <div>
                        <input type="number" class="weight" name="weight" placeholder="lbs">
                    </div>
                    <div>
                        @* <label for="reps">Reps:</label> *@
                        <input type="number" class="reps" name="reps" min="1" placeholder="Reps:">
                    </div>
                    <div>
                        @* <label for="time">Time</label> *@
                        <input type="number" class="time" name="time" placeholder="Time">
                    </div>
                    </div>
            `;
            setContainer.appendChild(newSet);
            setNum++;
        })

        document.getElementById('showSchedule').addEventListener('click', function() {
            var scheduleSelect = document.getElementById('schedule');
            if(scheduleSelect.style.display == "none") {
                scheduleSelect.style.display = "block";
            } else {
                scheduleSelect.style.display ="none";
            }
        });

        document.getElementById('schedule').addEventListener('click', function(event) {
    var option = event.target;
    if (option.tagName === 'OPTION') {
        option.selected = !option.selected;
    }
});
    </script>
</body>

</html>
